<div class="container vertical-align">
  <div class="row">
    <div class="col-lg-2">
      <p><span class="glyphicon glyphicon-registration-mark glyphicon-xl"></span></p>
    </div>
    <div class="col-lg-2">
      <p><span class="glyphicon glyphicon-user glyphicon-xl"></span></p>
    </div>
    <div class="col-lg-2">
      <p><span class="glyphicon glyphicon-envelope glyphicon-xl"></span></p>
    </div>
    <div class="col-lg-2">
      <p><span class="glyphicon glyphicon-phone glyphicon-xl"></span></p>
    </div>
    <div class="col-lg-2">
      <p><span class="glyphicon glyphicon-map-marker glyphicon-xl"></span></p>
    </div>
  </div>
  <div class="row" style="align-content: center">
    <div class="col-lg-2" >
      <h5>frank fro</h5>
    </div>
    <div class="col-lg-2">
      <h5>Duncan Murray</h5>
    </div>
    <div class="col-lg-2">
      <h5>murray.duncan@gmail.com</h5>
    </div>
    <div class="col-lg-2">
      <h5>+ 61 425 080 674</h5>
    </div>
    <div class="col-lg-2">
      <h5>1 Ortloff Place Kambah 2902 ACT Australia</h5>
    </div>
  </div>
</div>

