<div class="container">
  <h3>Duncan Murray</h3>
  <div class="panel-group bc">
    <div class="panel panel-default">
      <div class="panel-heading bold">Address</div>
      <div class="panel-body bc">1 Ortloff Place Kambah 2902</div>
    </div>
    <div class="panel panel-default bc">
      <div class="panel-heading bold">Email</div>
      <div class="panel-body bc">murray.duncan@gmail.com</div>
    </div>
    <div class="panel panel-default bc">
      <div class="panel-heading bold">Phone</div>
      <div class="panel-body bc">+61 425 080 674</div>
    </div>
  </div>
</div>
