<div class="container vertical-align">
  <div class="row">
    <div class="col-lg-4 col-xs-12 col-xs-12">
      <p><span class="glyphicon glyphicon-registration-mark glyphicon-xl"></span></p>
       <h5>frank fro</h5>
    </div>
    <div class="col-lg-4 col-xs-12">
      <p><span class="glyphicon glyphicon-globe glyphicon-xl"></span></p>
      <h5>www.krillmusic.studio</h5>
    </div>
    <div class="col-lg-4 col-xs-12">
      <p><span class="glyphicon glyphicon-user glyphicon-xl"></span></p>
       <h5>Duncan Murray</h5>
    </div>
    <div class="col-lg-4 col-xs-12">
      <p><span class="glyphicon glyphicon-envelope glyphicon-xl"></span></p>
       <h5>murray.duncan@gmail.com</h5>
    </div>
    <div class="col-lg-4 col-xs-12">
      <p><span class="glyphicon glyphicon-phone glyphicon-xl"></span></p>
      <h5>+ 61 425 080 674</h5>
    </div>
    <div class="col-lg-4 col-xs-12">
      <p><span class="glyphicon glyphicon-map-marker glyphicon-xl"></span></p>
       <h5>Kambah 2902 ACT Australia</h5>
    </div>
  </div>
</div>

