<div class="container">
  <div class="row">
    <div class="col-sm-3">
     <h4> Earth Man</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/earthman.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      <h4>Love's Remorse</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/lovesremorse.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Piano Lament (no strings)</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Piano Lament (No Strings).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>Piano Lament with Strings</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/piano lament original.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Piano Lament Alt Version</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/piano lament(5).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>Haunting Guitar</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/pink floyd 1.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>Simple Moving Theme in Strings</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/simplethemestrings.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      <h4> Short Tv Ending with Harp roll</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short tv ending.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>Simple Moving Theme in Brass</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Simple Moving Theme in Brass.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      <h4>Simple Moving Theme in Piano</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Simple moving Theme in Piano.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>Spanish Broken Guitar</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/spanish broken guitar theme.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      <h4>Stacccato String Building</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/staccato string building(2).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>The Lost Piano</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/lost piano.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      <h4>Oboe and Strings</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/oboe and strings.flac" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Violin to Suspense Ending</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Violin to Suspense Ending .wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>Drilling Guitar</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/drilling guitar(2).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Mid Easter Drum and Harp</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Mid Eastern Drum and Harp.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>Battle Cry</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Mixdown.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Unsettling Guitar</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/pink floyd 3.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>River Theme</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Riverina.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Saw Tech</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/saw tech.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>Short Bass and Violin</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short bass and violin.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Short Dramatic Strings</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short dramatic strings with solo violin(2).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>Short Guitar and Strings</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short guitar and strings.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><h4>Green Night</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/green night.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3"><h4>Home Again Demo</h4>
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/home again.flac" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>

