<div class="container">
  <div class="row">
    <div class="col-sm-3">
      Earth Man
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/earthman.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      Love's Remorse
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/lovesremorse.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Simple Moving Theme in Strings
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/simplethemestrings.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      Short Tv Ending with Harp roll
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short tv ending.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Simple Moving Theme in Brass
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Simple Moving Theme in Brass.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      Simple Moving Theme in Piano
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Simple moving Theme in Piano.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      Spanish Broken Guitar
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/spanish broken guitar theme.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      Stacccato String Building
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/staccato string building(2).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      The Lost Piano
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/The lost Piano - 1.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">
      Strings Harmony
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Strings Harmony.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Violin to Suspense Ending
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Violin to Suspense Ending .wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">Drilling Guitar
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/drilling guitar(2).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Green Night
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/green night.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">Guitar
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/guitar.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Mid Easter Drum and Harp
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Mid Eastern Drum and Harp.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">Battle Cry
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Mixdown.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Piano Lament (no strings)
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Piano Lament (No Strings).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">Piano Lament with Strings
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/piano lament original.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Piano Lament Alt Version
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/piano lament(5).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">Haunting Guitar
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/pink floyd 1.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Unsettling Guitar
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/pink floyd 3.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">River Theme
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/Riverina.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Saw Tech
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/saw tech.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">Short Bass and Violin
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short bass and violin.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">Short Dramatic Strings with Solo Violin
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short dramatic strings with solo violin(2).wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-sm-3">Short Guitar and Strings
    </div>
    <div class="col-sm-3">
      <audio controls>
        <source src="assets/wav/short guitar and strings.wav" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>

