<div class="container">
  <div class="panel panel-default biopanel">
      <img src="assets/pics/daw1.png">
      <img src="assets/pics/ws1.jpg">
      <img src="assets/pics/profile.jpg">
      <img src="assets/pics/daw2.png">
      <img src="assets/pics/ws-guitar.jpg">
      <img src="assets/pics/keyboard.jpg">
  </div>
</div>
<div class="container">
  <div class="panel-group bc">
    <div class="panel panel-default">
      <div class="panel-heading biopanel"></div>
      <div class="panel-body bc"><p> I started playing guitar when I was 18, quite late really. I spent my younger years
        as a competitive surfer
        whereby I made 5 national titles.</p>
        <p> When I was about 16 I suffered a bad knee dislocation, which pretty much ended my surfing career. At 18 I
          bought
          a classical guitar and a how to play classical guitar book.</p>
        <p> I spent hours in my room learning pieces by Sor and Bach. I made my own version of Bach's Bouree.
          As adolescence hit I discovered the electric guitar and became enthralled by the ability to play long solo's
          and
          improvise. I also started to compose songs in the popular and alternate genre.</p>
        <p>There came a point where I was forced to take up a career as a Software Engineer. This made music take a back
          seat, and providing for my young family became a priority.</p>
        <p>Forward 20 years and I have an 9 year old son who picked up classical guitar very quickly, he shows so
          much talent, in less than 2 years he was accepted to study an ANU University Music Program for
          High School Students. After my son attended a Summer Strings Camp for Classical String players, it sparked a
          renewed motivation in me and I
          started to compose classical music again.</p>

        <p>Through those years I had played and composed in an ad hock fashion. I had also played around with a cheap
          DAW,
          but now I had a new passion, a new enthusiasm through my son's new talent.</p>
        <p>I've now invested in the professional equipment required to produce top quality stock music for TV and Film.
          My
          music always holds a strong melody out front with dramatic moving themes and harmony.</p></div>
    </div>
  </div>
</div>
