<div class="jumbotron bc" id="header">
<div class="container"  >
  <div class="row"></div>
  <div class="row">
    <div class="col-lg 7">
      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item pull-right" style="font-family: 'Courier New'">
            <img src="assets/pics/icon.png"> <span style="align:right"> krill studio</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>
