<div class="jumbotron bc" id="header">
<div class="container"  >
  <div class="row"></div>
  <div class="row">
    <div class="col-lg 12">
      <nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home"><h3>Home</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about"><h3>About</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/services"><h3>Services</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio"><h3>Portfolio</h3></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"><h3>Contact</h3></a>
          </li>
          <!--<li class="nav-item pull-right">-->
            <!--&lt;!&ndash;<img src="assets/pics/icon.png">&ndash;&gt;<span style="align:right"><h3> krill studio</h3></span>-->
          <!--</li>-->
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>
