.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
  background-color: white !important;
  color: black;
}


div {
  background:black !important;
  color: white;
}

.black-bg {
  background:black !important;
  color: white;
}

.tab-content{
  background-color:#303136;
  padding:10px
}
.nav>li>a {
  color: white;
}

.navbar {
  background-color: #99ccff;
  border-bottom: 0;
}
