<div class="container">
  <div class="panel-group bc">
    <div class="panel panel-default">
      <div class="panel-heading bold">Composition</div>
      <div class="panel-body bc">20 + years of experience in composing in classical, thematic and pop/alternate rock. </div>
    </div>
    <div class="panel panel-default bc">
      <div class="panel-heading bold">Production</div>
      <div class="panel-body bc">Complete production from composition to final product. Also available for recording and/or production of artists. My fees are fair and resonable and will consult at every step of the process.</div>
    </div>
    <div class="panel panel-default bc">
      <div class="panel-heading bold">Guitar</div>
      <div class="panel-body bc">20+ years of playing solos. My style is inspired by Pink Floyd and Prince. Listen to some of the guitar tracks on my portfolio page.</div>
    </div>
  </div>
</div>

