<div class="container vertical-align">
  <div class="row">
    <div class="col-lg-4">
      <p><span class="glyphicon glyphicon-music glyphicon-xl"></span></p>
    </div>
    <div class="col-lg-4">
      <p><span class="glyphicon glyphicon-cd glyphicon-xl"></span></p>
    </div>
    <div class="col-lg-4">
      <p><span class="glyphicon glyphicon-play glyphicon-xl"></span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h4>20 + years of experience in composing in classical, thematic and pop/alternate rock. Specialising in melancholy emotive cinematic music. My Melodies are short and straight to the point perfect for dramatic and climatic scenes. </h4>
    </div>
    <div class="col-lg-4">
      <h4>Complete production from composition to final product. Also available for recording and/or production of artists. My fees are fair and reasonable and will consult at every step of the process.</h4>
    </div>
    <div class="col-lg-4">
      <h4>20+ years of playing solos. My style is inspired by Pink Floyd and Prince. Listen to some of the guitar tracks on my portfolio page.</h4>
    </div>
  </div>
</div>


